.nav-bar {
  background-color: #1E90FF;
  overflow: auto;
  width: 100%;
}

.nav-bar li{
  display: inline-block;
  margin: 0 0 0 .67em;
}

.nav-bar button {
  border: 1pt solid white;
}

ul {
  float: right;
  padding: .2em .67em .2em 0;
}


h1 {
  font-size: 2em;
  font-family: Verdana;
  font-weight: normal;
  margin: .67em 0;
  display: block;
}

h2 {
  font-size: 1em;
  font-family: Verdana;
  font-weight: normal;
  margin: .67em 0;
  display: block;
}

.content-body {
  position:relative;
  top:10%;    
  height:65%;
  width:450px;
  margin-left:auto;
  margin-right:auto;
  
}


textarea,
input[type="text"],
input[type="password"],
input[type="email"]
{
  height:30px;
  width:100%;
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  padding: 0 10px;
  margin-top: 3px;
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 20px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: #DCDCDC;
  color: black;
}

.btn {
  margin: 3px 0;
  padding: 6px 20px;
  font-size: 15px;
  line-height: 20px;
  height: 34px;
  color: white;
  background-color: #1E90FF;
  border: 1px solid #1E90FF;
  border-radius: 3px;
  
}

.avatar label{
  font-size: 1.5em;
}

.avatar {
    margin: 10px 0 20px 0;
    font-family: Verdana;
    font-size: 0.5em;
}

.regi-admin-link {
  margin: 20px 0;
}

img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

#paw-print{
  margin-top: 30px;
}

